
body {
  background: url('../img/fundo.png') no-repeat center bottom;
  background-size: cover;
}

.reveal h1,
.reveal h2 {
  line-height: 1.1;
  color: #bf0000;
}

.reveal li li {
  font-size: 80%;
}

.destaque {
  color: #bf0000;
}

.light {
  color: #cccccc !important;
}
