
.reveal .backgrounds .slide-background,
.reveal .slides .pdf-page .slide-background {
  background: url('../img/fundo.png') no-repeat center bottom;
  background-size: cover;
}

.reveal .backgrounds > .slide-background:first-child,
.reveal .slides .pdf-page:first-child .slide-background {
  background: url('../img/inicio-top.png') no-repeat right top,
    url('../img/fundo.png') no-repeat center bottom;
  background-size: 600px, cover;
}

.reveal .slides section:not(:first-child) {
  padding-bottom: 100px;
}

.reveal h1,
.reveal h2 {
  line-height: 1.1;
  color: #bf0000;
}

.reveal li li {
  font-size: 80%;
}

.destaque {
  color: #bf0000;
}

.light {
  color: #cccccc !important;
}
